<div>
    <h2 id="page-heading">
        <span jhiTranslate="churchApp.churchActivity.home.title">Church Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-church-activity" [routerLink]="['/church-activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="churchApp.churchActivity.home.createLabel">
            Create a new Church Activity
            </span>
        </button>
    </h2>
    <church-alert-error></church-alert-error>
    <church-alert></church-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="churchActivities?.length === 0">
        <span jhiTranslate="churchApp.churchActivity.home.notFound">No churchActivities found</span>
    </div>
    <div class="table-responsive" *ngIf="churchActivities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="churchApp.churchActivity.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location"><span jhiTranslate="churchApp.churchActivity.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="estamateBudget"><span jhiTranslate="churchApp.churchActivity.estamateBudget">Estamate Budget</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="churchApp.churchActivity.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="churchApp.churchActivity.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="church.name"><span jhiTranslate="churchApp.churchActivity.church">Church</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let churchActivity of churchActivities ;trackBy: trackId">
                <td><a [routerLink]="['/church-activity', churchActivity.id, 'view' ]">{{churchActivity.id}}</a></td>
                <td>{{churchActivity.name}}</td>
                <td>{{churchActivity.location}}</td>
                <td>{{churchActivity.estamateBudget}}</td>
                <td>{{churchActivity.startDate | date:'mediumDate'}}</td>
                <td>{{churchActivity.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="churchActivity.church">
                        <a [routerLink]="['/church', churchActivity.church?.id, 'view' ]" >{{churchActivity.church?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/church-activity', churchActivity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/church-activity', churchActivity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/church-activity', { outlets: { popup: churchActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="churchActivities?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
