<!--<div class="list-group list-group-horizontal col-md-6" >-->
    <!--<a [ngClass]="{'active': fy.id === f.id}"-->
       <!--*ngFor="let f of fys"-->
       <!--(click)="setFy(f)"-->
       <!--class="list-group-item list-group-item-action">-->
        <!--{{f.name}}-->
    <!--</a>-->
<!--</div>-->
<div class="card">
    <label for="fy">Financial Year</label>
    <select id="fy" class="form-control" [(ngModel)]="fy" (ngModelChange)="setFy($event)">
        <option  *ngFor="let f of fys" [value]="f">{{f.name}}</option>
    </select>

</div>
<div class="card">
    <fusioncharts
        width="99%"
        height="400"
        type="mscolumn2d"
        [dataSource]="dataSource">
    </fusioncharts>
</div>
<br />
<div class="">
    <div class="row">
    <div class="list-group list-group-horizontal col-md-6" >
        <a [ngClass]="{'active': contributionType.id === t.id}"
           *ngFor="let t of contributionTypes"
           (click)="setContributionType(t)"
           class="list-group-item list-group-item-action">
            {{t.name}}
        </a>
    </div>
        <div class="col-md-1"></div>
    <div class="list-group list-group-horizontal col-md-5" >
        <a [ngClass]="{'active': period.id === p.id}"
           *ngFor="let p of periods"
           (click)="setPeriod(p)"
           class="list-group-item list-group-item-action">
            {{p.name}}
        </a>
    </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
         <tr>
             <th>Name</th>
             <th>Phone Number</th>
             <th>Promise</th>
             <th>Contribution</th>
             <th>Balance</th>
             <th>Due Date</th>
             <th>Is Overdue</th>
         </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of memberContr">
            <td>{{c.name}}</td>
            <td>{{c.phone_number}}</td>
            <td>{{c.promise}}</td>
            <td>{{c.contribution}}</td>
            <td>{{c.promise - c.contribution}}</td>
            <td>{{c.due_date}}</td>
            <td>{{c.over_due}}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true"
                            [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
