<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="periodContribution">
            <h2><span jhiTranslate="churchApp.periodContribution.detail.title">Period Contribution</span> {{ periodContribution.id }}</h2>

            <hr>

            <church-alert-error></church-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="churchApp.periodContribution.amountPromised">Amount Promised</span></dt>
                <dd>
                    <span>{{ periodContribution.amountPromised }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.periodContribution.amountContributed">Amount Contributed</span></dt>
                <dd>
                    <span>{{ periodContribution.amountContributed }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.periodContribution.description">Description</span></dt>
                <dd>
                    <span>{{ periodContribution.description }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.periodContribution.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{ periodContribution.dueDate }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.periodContribution.period">Period</span></dt>
                <dd>
                    <div *ngIf="periodContribution.period">
                        <a [routerLink]="['/period', periodContribution.period?.id, 'view']">{{ periodContribution.period?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="churchApp.periodContribution.memberPromise">Member Promise</span></dt>
                <dd>
                    <div *ngIf="periodContribution.memberPromise">
                        <a [routerLink]="['/member-promise', periodContribution.memberPromise?.id, 'view']">{{ periodContribution.memberPromise?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/period-contribution', periodContribution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
