<church-alert-error></church-alert-error>
<church-alert></church-alert>
<div class="row">
    <div class="col-md-2" style="padding: 8px">
        <div class="form-group">
            <label for="fy" class="form-control-label">Year</label>
            <select id="fy" class="form-control col-md-12" [(ngModel)]="fy" (ngModelChange)="setFy()" >
                <option  *ngFor="let f of fys" [ngValue]="f">{{f.name}}</option>
            </select>
        </div>
       <div class="form-group">
           <label for="p" class="form-control-label">Period</label>
           <select id="p" class="form-control col-md-12" [(ngModel)]="period" (ngModelChange)="loadAll()">
               <option *ngFor="let p of periods" [ngValue]="p">{{p.name}}</option>
           </select>
        </div>
    </div>
    <div class="col-md-10 card" style="padding: 8px">
        <h2 id="page-heading" style="margin: 8px; text-align: center">
           <span jhiTranslate="churchApp.periodContribution.home.title">Period Contributions</span>
        </h2>
        <div *ngIf="periodContributions?.length === 0" style="text-align:center; margin-top:20px">
            <button *ngIf="periodContributions?.length === 0"
                    id="jh-create-entity" class="btn btn-primary float-center jh-create-entity
                    create-period-contribution"
                    [routerLink]="['/period-contribution/byChurch', churchId, 'byMember', memberId, 'byType', periodContributionTypeId, 'byPeriod', period?.id, 'new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span  jhiTranslate="churchApp.periodContribution.home.createLabel">
            Create a new Period Contribution
            </span>
            </button>
        </div>
        <div *ngIf="periodContributions?.length > 0">
            <div style="margin: 8px;" class="row" *ngFor="let periodContribution of periodContributions ;trackBy: trackId">
               <div class="col-md-3 form-group amount-label">
                   <label class="form-control-label ">
                       <span >Promise</span>
                   </label>
                   <div class="amounts">
                     {{periodContribution.amountPromised | currency:'TZS '}}
                   </div>
               </div>
               <div class="col-md-3 form-group amount-label">
                   <label class="form-control-label">
                       <span >Contributed</span>
                   </label>
                   <div class="amounts amount-label">
                     {{periodContribution.amountContributed | currency:'TZS '}}
                   </div>
               </div>
                <div class="col-md-3 form-group amount-label">
                   <label class="form-control-label">
                       <span >Balance</span>
                   </label>
                   <div class="amounts">
                     {{(periodContribution.amountPromised - periodContribution.amountContributed) | currency:'TZS '}}
                   </div>
               </div>
               <div class="col-md-3 amount-label">
                   <label class="form-control-label">
                       <span jhiTranslate="churchApp.periodContribution.dueDate">Due Date</span>
                   </label>
                   <div>
                       {{periodContribution.dueDate | date:'mediumDate'}}
                   </div>
               </div>
                <div class="col-md-12">
                    <p><ngb-progressbar type="success" textType="white" [value]="progress" showValue="true"></ngb-progressbar></p>
                </div>
                <div class="col-md-12" style="text-align: center">
                  <div class="btn-group">
                    <button type="submit"
                            [routerLink]="['/period-contribution/byChurch', churchId,
                                'byMember', memberId,
                                'byType', periodContributionTypeId,
                                'byPeriod', period?.id, periodContribution.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                      <button type="submit"
                              (click)="openDeleteDialog(confirmDelete, periodContribution.id)"
                              class="btn btn-danger btn-sm">
                          <fa-icon [icon]="'times'"></fa-icon>
                          <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                      </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px" *ngIf="periodContributions?.length > 0">
    <div class="col-md-12" >
        <church-period-contribution-item
            (itemChange)="itemChange($event)"
            [periodContributionId]="periodContributions[0].id">
        </church-period-contribution-item>
    </div>
</div>
<ng-template #confirmDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this promise
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Close click')">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Yes</button>
    </div>
</ng-template>
