<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="church-period-contribution-heading" jhiTranslate="churchApp.periodContribution.home.createOrEditLabel">Create or edit a Period Contribution</h2>

            <div>
                <church-alert-error></church-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.periodContribution.amountPromised" for="field_amountPromised">Amount Promised</label>
                    <input type="number" class="form-control" name="amountPromised" id="field_amountPromised"
                           formControlName="amountPromised"/>
                    <div *ngIf="editForm.get('amountPromised')!.invalid && (editForm.get('amountPromised')!.dirty || editForm.get('amountPromised')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amountPromised')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amountPromised')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.periodContribution.amountContributed" for="field_amountContributed">Amount Contributed</label>
                    <input type="number" class="form-control" name="amountContributed" id="field_amountContributed"
                           formControlName="amountContributed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.periodContribution.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.periodContribution.dueDate" for="field_dueDate">Due Date</label>
                    <div class="input-group">
                        <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker #dueDateDp="ngbDatepicker" formControlName="dueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dueDate')!.invalid && (editForm.get('dueDate')!.dirty || editForm.get('dueDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dueDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.periodContribution.period" for="field_period">Period</label>
                    <select class="form-control" id="field_period" name="period" formControlName="period">
                        <option *ngIf="!editForm.get('period')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="periodOption.id === editForm.get('period')!.value?.id ? editForm.get('period')!.value : periodOption" *ngFor="let periodOption of periods; trackBy: trackById">{{ periodOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('period')!.invalid && (editForm.get('period')!.dirty || editForm.get('period')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('period')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.periodContribution.memberPromise" for="field_memberPromise">Member Promise</label>
                    <select class="form-control" id="field_memberPromise" name="memberPromise" formControlName="memberPromise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="memberPromiseOption.id === editForm.get('memberPromise')!.value?.id ? editForm.get('memberPromise')!.value : memberPromiseOption" *ngFor="let memberPromiseOption of memberpromises; trackBy: trackById">{{ memberPromiseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
