<div fxFlexLayout="column" class="card">
    <div class="card-header">
        <div class="card-title">
           <fa-icon>account_balance</fa-icon> User Membership
        </div>
    </div>
    <div class="divider"></div>
    <div >
        <div *ngIf="existingMember === null" fxLayout="column" fxFlex="100%">
            <div style="padding-top:8px" fxLayout="row">
                    <input class="form-control" #rn placeholder="Enter membership number" />
                <button type="button" fxFlex="30px"  (click)="getMemberByRn(rn.value)">
                    <fa-icon>search</fa-icon>
                </button>
            </div>
            <div  *ngIf="member" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex>Member Church: <strong>{{member.church?.name}}</strong></div>
                <div fxFlex>Member Record Number: <strong>{{member.memberRn}}</strong></div>
                <button type="button" color="primary" (click)="setSelected()">
                    <fa-icon>save</fa-icon> Set
                </button>
            </div>
        </div>
        <div style="padding-top:8px" *ngIf="existingMember" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" >
            <div fxFlex>Member Church: <strong>{{existingMember.church?.name}}</strong></div>
            <div fxFlex>Member Record Number: <strong>{{existingMember.memberRn}}</strong></div>
            <button color="warn" type="button" (click)="resetSelected()">
                <fa-icon>delete</fa-icon>
                Change
            </button>
        </div>
    </div>
</div>
