<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="memberPromise">
            <h2><span jhiTranslate="churchApp.memberPromise.detail.title">Member Promise</span> {{ memberPromise.id }}</h2>

            <hr>

            <church-alert-error></church-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="churchApp.memberPromise.promiseDate">Promise Date</span></dt>
                <dd>
                    <span>{{ memberPromise.promiseDate }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.memberPromise.amount">Amount</span></dt>
                <dd>
                    <span>{{ memberPromise.amount }}</span>
                </dd>
                <dd>
                    <span>{{ memberPromise.otherPromise }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.memberPromise.fulfillmentDate">Fulfillment Date</span></dt>
                <dd>
                    <span>{{ memberPromise.fulfillmentDate }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.memberPromise.isFulfilled">Is Fulfilled</span></dt>
                <dd>
                    <span>{{ memberPromise.isFulfilled }}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.memberPromise.totalContribution">Totatl Contribution</span></dt>
                          </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/member-promise', memberPromise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
