<div>
    <church-alert-error></church-alert-error>
    <church-alert></church-alert>
    <div class="row">
        <div class="col-md-2" style="padding: 8px">
            <div class="form-group">
                <label for="fy" class="form-control-label">Year</label>
                <select id="fy" class="form-control col-md-12" [(ngModel)]="fy" (ngModelChange)="setFy()" >
                    <option  *ngFor="let f of fys" [ngValue]="f">{{f.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-10 card" style="padding: 8px">
            <h2 id="page-heading" style="margin: 8px; text-align: center">
                <span jhiTranslate="churchApp.memberPromise.home.title">Member Promise</span>
             </h2>
             <div class="alert alert-warning" id="no-result" *ngIf="memberPromise === undefined" style="text-align:center; margin-top:20px">
                <span jhiTranslate="churchApp.memberPromise.home.notFound">No memberPromises found</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member-promise" 
                    [routerLink]="['/member-promise', churchId, memberId, fy?.id, typeId, 'new']">
                        <fa-icon icon="plus"></fa-icon>
                        <span  jhiTranslate="churchApp.memberPromise.home.createLabel">
                        Create a new Member Promise
                        </span>
                </button>
             </div>
             <div class="table-responsive" id="entities" *ngIf="memberPromise">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr>
                                <th class="text-right"><span jhiTranslate="churchApp.memberPromise.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                                <th class="text-right"><span jhiTranslate="churchApp.memberPromise.totalContribution">Totatl Contribution</span> <fa-icon icon="sort"></fa-icon></th>
                                <th class="text-right"><span >Balance</span></th>
                                <th ><span jhiTranslate="churchApp.memberPromise.fulfillmentDate">Fulfillment Date</span> <fa-icon icon="sort"></fa-icon></th>
                                <th ><span jhiTranslate="churchApp.memberPromise.isFulfilled">Is Fulfilled</span> <fa-icon icon="sort"></fa-icon></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td class="text-right">{{ memberPromise.amount | currency: ' ' }}</td>
                                <td class="text-right">{{  memberPromise.totalContribution >= 0 ? (memberPromise.totalContribution | currency:' ') : 0 }}</td>
                                <td class="text-right">{{ (memberPromise.totalContribution >= 0 ? (memberPromise.amount -memberPromise.totalContribution) : memberPromise.amount) | currency:' '}}</td>
                                <td>{{ memberPromise.fulfillmentDate | date:'mediumDate' }}</td>
                                <td>{{ memberPromise.isFulfilled }}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                       
                                        <button type="submit"
                                                [routerLink]="['/member-promise',churchId, memberId, fy?.id, typeId, memberPromise.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon icon="pencil-alt"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
            
                                        <button type="submit" (click)="delete(memberPromise)"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon icon="times"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div >
                        <div *ngFor="let pc of periodContributions" class="input-group col-sm-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{pc.period.name}}</span>
                            </div>
                            <input type="number" (blur)="updatePeriodPromise(pc)" 
                            ngClass="{'is-updating': pc.isUpdating}"
                            class="form-control" [(ngModel)]="pc.amountPromised"/>
                            <div class="input-group-append">
                                <span *ngIf="!pc.isUpdating" class="input-group-text">{{pc.dueDate}}</span>
                                <span *ngIf="pc.isUpdating" class="input-group-text">....</span>
                            </div>
                        </div>
                    </div> -->
                </div>

        </div>
    </div>
   
    <div *ngIf="memberPromise !== undefined" style="margin-top:40px">
       <church-member-contribution [memberPromiseId]="memberPromise.id"></church-member-contribution>
    </div>

    
</div>
