<div>
    <h2 id="page-heading">
        <span jhiTranslate="churchApp.memberPromise.home.title">Member Promises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member-promise" [routerLink]="['/member-promise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="churchApp.memberPromise.home.createLabel">
            Create a new Member Promise
            </span>
        </button>
    </h2>
    <church-alert-error></church-alert-error>
    <church-alert></church-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="memberPromises?.length === 0">
        <span jhiTranslate="churchApp.memberPromise.home.notFound">No memberPromises found</span>
    </div>
    <div class="table-responsive" *ngIf="memberPromises?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="promiseDate"><span jhiTranslate="churchApp.memberPromise.promiseDate">Promise Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="amount"><span jhiTranslate="churchApp.memberPromise.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="otherPromise"><span jhiTranslate="churchApp.memberPromise.otherPromise">Other Promise</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fulfillmentDate"><span jhiTranslate="churchApp.memberPromise.fulfillmentDate">Fulfillment Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isFulfilled"><span jhiTranslate="churchApp.memberPromise.isFulfilled">Is Fulfilled</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="member.firstName"><span jhiTranslate="churchApp.memberPromise.member">Member</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="churchActivity.name"><span jhiTranslate="churchApp.memberPromise.churchActivity">Church Activity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let memberPromise of memberPromises ;trackBy: trackId">
                <td><a [routerLink]="['/member-promise', memberPromise.id, 'view' ]">{{memberPromise.id}}</a></td>
                <td>{{memberPromise.promiseDate | date:'mediumDate'}}</td>
                <td>{{memberPromise.amount}}</td>
                <td>{{memberPromise.otherPromise}}</td>
                <td>{{memberPromise.fulfillmentDate | date:'mediumDate'}}</td>
                <td>{{memberPromise.isFulfilled}}</td>
                <td>
                    <div *ngIf="memberPromise.member">
                        <a [routerLink]="['/member', memberPromise.member?.id, 'view' ]" >{{memberPromise.member?.firstName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="memberPromise.churchActivity">
                        <a [routerLink]="['/church-activity', memberPromise.churchActivity?.id, 'view' ]" >{{memberPromise.churchActivity?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/member-promise', memberPromise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member-promise', memberPromise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member-promise', { outlets: { popup: memberPromise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="memberPromises?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
