<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="church-member-promise-heading" jhiTranslate="churchApp.memberPromise.home.createOrEditLabel">Create or edit a Member Promise</h2>

            <div>
                <church-alert-error></church-alert-error>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.memberPromise.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                    </div>            
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.memberPromise.promiseDate" for="field_promiseDate">Promise Date</label>
                    <div class="input-group">
                        <input id="field_promiseDate" type="text" class="form-control" name="promiseDate" ngbDatepicker #promiseDateDp="ngbDatepicker" formControlName="promiseDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="promiseDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('promiseDate')!.invalid && (editForm.get('promiseDate')!.dirty || editForm.get('promiseDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('promiseDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

               
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.memberPromise.fulfillmentDate" for="field_fulfillmentDate">Fulfillment Date</label>
                    <div class="input-group">
                        <input id="field_fulfillmentDate" type="text" class="form-control" name="fulfillmentDate" ngbDatepicker #fulfillmentDateDp="ngbDatepicker" formControlName="fulfillmentDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fulfillmentDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
