<mat-sidenav-container fullscreen>
    <mat-sidenav #sideNav class="side-nav mat-elevation-z2"
                 [mode]="'side'"
                 *ngIf="isAuthenticated()"
                 opened>
        <mat-toolbar class="main-toolbar">
            <button routerLink="/" mat-button>
                <mat-icon>games</mat-icon>
                <span jhiTranslate="global.title"
                      class="navbar-title">CIMS</span>
                <span class="navbar-version">{{version}}</span>
            </button>
        </mat-toolbar>
        <div class="user-panel" fxLayout="row">
            <div mat-card-avatar >CM</div>
            <div>{{user?.firstName}}</div>
        </div>
        <mat-nav-list *churchHasAnyAuthority="'ROLE_ADMIN'" >
            <input type="hidden" #setUpIsOpen [value]="0" />
            <mat-list-item  class="parent-menu mat-elevation-z2"
                            (click)="setUpIsOpen.value = (setUpIsOpen.value === '0')?'1': '0'">
                <mat-icon>list</mat-icon> Setup
            </mat-list-item>
            <div class="submenu" *ngIf="setUpIsOpen.value === '1'">
                <mat-list-item routerLink="admin/user-management" routerLinkActive="active">
                    <mat-icon>person</mat-icon>
                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                </mat-list-item>
                <mat-list-item routerLink="church-type"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>playlist_play</mat-icon>
                    <span jhiTranslate="global.menu.entities.churchType">Church Type</span>
                </mat-list-item>
                <mat-list-item routerLink="church"
                               routerLinkActive="active">
                    <mat-icon>account_balance</mat-icon>
                    <span jhiTranslate="global.menu.entities.church">Church</span>
                </mat-list-item>
                <mat-list-item routerLink="payment-method"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>payment</mat-icon>
                    <span jhiTranslate="global.menu.entities.paymentMethod">Payment Method</span>
                </mat-list-item>
                <mat-list-item routerLink="contribution-type"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>build</mat-icon>
                    <span jhiTranslate="global.menu.entities.contributionType">Contribution Type</span>
                </mat-list-item>
                <mat-list-item routerLink="rite"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>favorite</mat-icon>
                    <span jhiTranslate="global.menu.entities.rite">Rite</span>
                </mat-list-item>
            </div>
        </mat-nav-list>
        <mat-nav-list *churchHasAnyAuthority="'ROLE_ADMIN'">
            <input type="hidden" #adminIsOpen [value]="0" />
            <mat-list-item  class="parent-menu mat-elevation-z2"
                            (click)="adminIsOpen.value = (adminIsOpen.value === '0')?'1': '0'">
               <mat-icon>account_balance</mat-icon> Administration
            </mat-list-item>
            <div class="submenu" *ngIf="adminIsOpen.value === '1'" >
               <mat-list-item *ngIf="user.member"
                          [routerLink]="['/church', user.member.church.id, 'edit' ]"
                              routerLinkActive="active"
                              >
                   <mat-icon>account_balance</mat-icon>
                   <span jhiTranslate="global.menu.entities.church">Church</span>
               </mat-list-item>
            </div>
        </mat-nav-list>
        <mat-nav-list *churchHasAnyAuthority="'ROLE_ADMIN'">
            <input type="hidden" #memberIsOpen [value]="0" />
            <mat-list-item  class="parent-menu mat-elevation-z2"
                            (click)="memberIsOpen.value = (memberIsOpen.value === '0')?'1': '0'">
                <mat-icon>people</mat-icon> Members
            </mat-list-item>
            <div class="submenu" *ngIf="memberIsOpen.value === '1'">
                <mat-list-item [routerLink]="['/member', 'byChurch',user.member.church.id]"
                               *ngIf="user.member"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" >
                    <mat-icon>person</mat-icon>
                    <span jhiTranslate="global.menu.entities.member">Member</span>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet name="navbar"></router-outlet>
        </div>
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
            <church-footer></church-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
