<div class="wrapper">
    <nav class="side-nav" #sideNav *ngIf="isAuthenticated()">
        <div class="sidenav-header">
            <h3 class="title"> CIMS </h3>
        </div>
        <ul  class="list-unstyled components" *churchHasAnyAuthority="'ROLE_ADMIN'">
            <li>
                <a routerLink="admin/user-management" routerLinkActive="active">
                    <fa-icon icon="users" fixedWidth="true"></fa-icon>
                    <span class="menu-item"> Manage User</span>
                </a>
            </li>
            <li>
                <a routerLink="church-type" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="cross" fixedWidth="true"></fa-icon>
                    <span class="menu-item">Church Types</span></a>
            </li>
            <li>
                <a routerLink="church" routerLinkActive="active">
                    <fa-icon icon="church" fixedWidth="true"></fa-icon>
                    <span class="menu-item"> Manage Churches</span></a>
            </li>
            <li>
                <a routerLink="period-type" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }" >
                    <fa-icon icon="calendar" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.periodType">Period Type</span>
                </a>
            </li>
            <li>
                <a routerLink="period"
                   routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="calendar-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.period">Periods</span>
                </a>
            </li>
            <li>
                <a routerLink="payment-method" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="credit-card" fixedWidth="true"></fa-icon>
                    <span class="menu-item"> Payment Types</span></a>
            </li>
            <li>
                <a routerLink="contribution-type" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="money-check" fixedWidth="true"></fa-icon>
                    <span class="menu-item">Contribution Types</span>
                </a>
            </li>
            <li>
                <a routerLink="rite"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="ring" fixedWidth="true"></fa-icon>
                    <span class="menu-item">Rites</span>
                </a>
            </li>
        </ul>
        <ul  class="list-unstyled components"  *churchHasAnyAuthority="'ROLE-CHURCH_ADMIN'">
            <li *ngIf="user.church">
                <a  [routerLink]="['/church', user.church.id, 'edit' ]"
                   routerLinkActive="active" >
                    <fa-icon icon="church" fixedWidth="true"></fa-icon>
                    <span class="menu-item">{{user.church.name}} Church</span>
                </a>
            </li>
            <li *ngIf="user.church">
                <a [routerLink]="['/member', 'byChurch',user.church.id]"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }"  >
                    <fa-icon icon="users" fixedWidth="true"></fa-icon>
                    <span class="menu-item"> Members</span></a>
            </li>
        </ul>
    </nav>
    <div class="main">
        <div>
            <router-outlet name="navbar"></router-outlet>
        </div>
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</div>
