<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="homeChurchCommunity">
            <h2><span jhiTranslate="churchApp.homeChurchCommunity.detail.title">Home Church Community</span> {{homeChurchCommunity.id}}</h2>
            <hr>
            <church-alert-error></church-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.name">Name</span></dt>
                <dd>
                    <span>{{homeChurchCommunity.name}}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.numberOfHouseHold">Number Of House Hold</span></dt>
                <dd>
                    <span>{{homeChurchCommunity.numberOfHouseHold}}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{homeChurchCommunity.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.address">Address</span></dt>
                <dd>
                    <span>{{homeChurchCommunity.address}}</span>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.church">Church</span></dt>
                <dd>
                    <div *ngIf="homeChurchCommunity.church">
                        <a [routerLink]="['/church', homeChurchCommunity.church?.id, 'view']">{{homeChurchCommunity.church?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.chairMan">Chair Man</span></dt>
                <dd>
                    <div *ngIf="homeChurchCommunity.chairMan">
                        <a [routerLink]="['/member', homeChurchCommunity.chairMan?.id, 'view']">{{homeChurchCommunity.chairMan?.firstName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.secreatry">Secreatry</span></dt>
                <dd>
                    <div *ngIf="homeChurchCommunity.secreatry">
                        <a [routerLink]="['/member', homeChurchCommunity.secreatry?.id, 'view']">{{homeChurchCommunity.secreatry?.firstName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="churchApp.homeChurchCommunity.treasurer">Treasurer</span></dt>
                <dd>
                    <div *ngIf="homeChurchCommunity.treasurer">
                        <a [routerLink]="['/member', homeChurchCommunity.treasurer?.id, 'view']">{{homeChurchCommunity.treasurer?.firstName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/home-church-community', homeChurchCommunity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
