<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="church-church-community-heading" jhiTranslate="churchApp.churchCommunity.home.createOrEditLabel">Create or edit a Church Community</h2>
            <div>
                <church-alert-error></church-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.churchCommunity.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.churchCommunity.church" for="field_church">Church</label>
                    <select class="form-control" id="field_church" name="church" formControlName="church">
                        <option *ngIf="!editForm.get('church').value" [ngValue]="null" selected></option>
                        <option [ngValue]="churchOption.id === editForm.get('church').value?.id ? editForm.get('church').value : churchOption" *ngFor="let churchOption of churches; trackBy: trackChurchById">{{churchOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('church').invalid && (editForm.get('church').dirty || editForm.get('church').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('church').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.churchCommunity.chairPerson" for="field_chairPerson">Chair Person</label>
                    <select class="form-control" id="field_chairPerson" name="chairPerson" formControlName="chairPerson">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="memberOption.id === editForm.get('chairPerson').value?.id ? editForm.get('chairPerson').value : memberOption" *ngFor="let memberOption of members; trackBy: trackMemberById">{{memberOption.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.churchCommunity.secretary" for="field_secretary">Secretary</label>
                    <select class="form-control" id="field_secretary" name="secretary" formControlName="secretary">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="memberOption.id === editForm.get('secretary').value?.id ? editForm.get('secretary').value : memberOption" *ngFor="let memberOption of members; trackBy: trackMemberById">{{memberOption.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="churchApp.churchCommunity.treasurer" for="field_treasurer">Treasurer</label>
                    <select class="form-control" id="field_treasurer" name="treasurer" formControlName="treasurer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="memberOption.id === editForm.get('treasurer').value?.id ? editForm.get('treasurer').value : memberOption" *ngFor="let memberOption of members; trackBy: trackMemberById">{{memberOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
