<div>
    <h2 id="page-heading">
        <span jhiTranslate="churchApp.memberRelative.home.title">Member Relatives</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member-relative" [routerLink]="['/member-relative/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="churchApp.memberRelative.home.createLabel">
            Create a new Member Relative
            </span>
        </button>
    </h2>
    <church-alert-error></church-alert-error>
    <church-alert></church-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="memberRelatives?.length === 0">
        <span jhiTranslate="churchApp.memberRelative.home.notFound">No memberRelatives found</span>
    </div>
    <div class="table-responsive" *ngIf="memberRelatives?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="relativeType"><span jhiTranslate="churchApp.memberRelative.relativeType">Relative Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="relativeFullName"><span jhiTranslate="churchApp.memberRelative.relativeFullName">Relative Full Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="relativePhoneNumber"><span jhiTranslate="churchApp.memberRelative.relativePhoneNumber">Relative Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="member.firstName"><span jhiTranslate="churchApp.memberRelative.member">Member</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let memberRelative of memberRelatives ;trackBy: trackId">
                <td><a [routerLink]="['/member-relative', memberRelative.id, 'view' ]">{{memberRelative.id}}</a></td>
                <td jhiTranslate="{{'churchApp.RelativeType.' + memberRelative.relativeType}}">{{memberRelative.relativeType}}</td>
                <td>{{memberRelative.relativeFullName}}</td>
                <td>{{memberRelative.relativePhoneNumber}}</td>
                <td>
                    <div *ngIf="memberRelative.member">
                        <a [routerLink]="['/member', memberRelative.member?.id, 'view' ]" >{{memberRelative.member?.firstName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/member-relative', memberRelative.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member-relative', memberRelative.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member-relative', { outlets: { popup: memberRelative.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="memberRelatives?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
