<div class="row justify-content-center">
    <h2 id="church-member-heading" jhiTranslate="churchApp.member.home.createOrEditLabel">Create or edit a Member</h2>
    <ngb-tabset class="col-12" #memberTab="ngbTabset"
                (tabChange)="setSelectedTab($event)">
        <ngb-tab title="Basic Info" id="basicInfo">
            <ng-template ngbTabContent>
                <div class="col-12">
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
                        <div>
                            <br/>
                            <church-alert-error></church-alert-error>
                            <church-alert></church-alert>
                            <div [hidden]="true" class="form-group">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly
                                       type="hidden" />
                            </div>
                            <div class="row input-row" *ngIf="churchId === undefined">
                                <div class="form-group col-sm-12 col-md-6" >
                                    <label class="form-control-label" for="field_church" jhiTranslate="churchApp.member.church">Church</label>
                                    <select class="form-control"
                                            (ngModelChange)="loadChurchData(editForm.get('church').value)"
                                            formControlName="church" id="field_church" name="church">
                                        <option *ngIf="!editForm.get('church').value"
                                                [ngValue]="null" selected></option>
                                        <option *ngFor="let churchOption of churches; trackBy: trackChurchById" [ngValue]="churchOption.id === editForm.get('church').value?.id ? editForm.get('church').value : churchOption">{{churchOption.name}}</option>
                                    </select>
                                    <div *ngIf="editForm.get('church').invalid && (editForm.get('church').dirty || editForm.get('church').touched)">
                                        <small *ngIf="editForm.get('church').errors.required"
                                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row input-row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_firstName" jhiTranslate="churchApp.member.firstName">First Name</label>
                                    <input class="form-control" formControlName="firstName" id="field_firstName" name="firstName"
                                           type="text"/>
                                    <div *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                                        <small *ngIf="editForm.get('firstName').errors.required"
                                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small *ngIf="editForm.get('firstName').errors.maxlength"
                                               [translateValues]="{ max: 100 }" class="form-text text-danger" jhiTranslate="entity.validation.maxlength">
                                            This field cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_middleName" jhiTranslate="churchApp.member.middleName">Middle Name</label>
                                    <input class="form-control" formControlName="middleName" id="field_middleName" name="middleName"
                                           type="text"/>
                                    <div *ngIf="editForm.get('middleName').invalid && (editForm.get('middleName').dirty || editForm.get('middleName').touched)">
                                        <small *ngIf="editForm.get('middleName').errors.maxlength"
                                               [translateValues]="{ max: 100 }" class="form-text text-danger" jhiTranslate="entity.validation.maxlength">
                                            This field cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_lastName" jhiTranslate="churchApp.member.lastName">Last Name</label>
                                    <input class="form-control" formControlName="lastName" id="field_lastName" name="lastName"
                                           type="text"/>
                                    <div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                                        <small *ngIf="editForm.get('lastName').errors.required"
                                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small *ngIf="editForm.get('lastName').errors.maxlength"
                                               [translateValues]="{ max: 100 }" class="form-text text-danger" jhiTranslate="entity.validation.maxlength">
                                            This field cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_memberRn" jhiTranslate="churchApp.member.lastName">Last Name</label>
                                    <input class="form-control" formControlName="memberRn" id="field_memberRn" name="memberRn"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="row input-row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_gender" jhiTranslate="churchApp.member.gender">Gender</label>
                                    <select class="form-control" formControlName="gender" id="field_gender" name="gender">
                                        <option value="Male">{{'churchApp.Gender.Male' | translate}}</option>
                                        <option value="Female">{{'churchApp.Gender.Female' | translate}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_maritalStatus" jhiTranslate="churchApp.member.maritalStatus">Marital Status</label>
                                    <select class="form-control" formControlName="maritalStatus" id="field_maritalStatus" name="maritalStatus">
                                        <option value="Single">{{'churchApp.MaritalStatus.Single' | translate}}</option>
                                        <option value="Married">{{'churchApp.MaritalStatus.Married' | translate}}</option>
                                        <option value="Devoced">{{'churchApp.MaritalStatus.Devoced' | translate}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_dateOfBirth" jhiTranslate="churchApp.member.dateOfBirth">Date Of Bith</label>
                                    <div class="input-group">
                                        <input #dateOfBirthDp="ngbDatepicker" class="form-control" formControlName="dateOfBirth" id="field_dateOfBirth" name="dateOfBirth"  ngbDatepicker type="text"/>
                                        <span class="input-group-append">
                                      <button (click)="dateOfBirthDp.toggle()" class="btn btn-secondary" type="button">
                                       <fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                     </span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_placeOfBirth" jhiTranslate="churchApp.member.placeOfBirth">Place Of Bith</label>
                                    <input class="form-control" formControlName="placeOfBirth" id="field_placeOfBirth" name="placeOfBirth"
                                           type="text"/>
                                </div>

                            </div>
                            <div class="row input-row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_phoneNumber" jhiTranslate="churchApp.member.phoneNumber">Phone Number</label>
                                    <input class="form-control" formControlName="phoneNumber" id="field_phoneNumber" name="phoneNumber"
                                           type="text"/>
                                </div>

                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_email" jhiTranslate="churchApp.member.email">Email</label>
                                    <input class="form-control" formControlName="email" id="field_email" name="email"
                                           type="text"/>
                                </div>

                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_work" jhiTranslate="churchApp.member.work">Work</label>
                                    <input class="form-control" formControlName="work" id="field_work" name="work"
                                           type="text"/>
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="form-control-label" for="field_placeOfWork" jhiTranslate="churchApp.member.placeOfWork">Place Of Work</label>
                                    <input class="form-control" formControlName="placeOfWork" id="field_placeOfWork" name="placeOfWork"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="row input-row">
                                <div class="form-group col-sm-12 col-md-4">
                                    <input formControlName="isActive" id="field_isActive" name="isActive"
                                           type="checkbox"/>
                                    <label class="form-control-label" for="field_isActive" jhiTranslate="churchApp.member.isActive">Is Active</label>
                                </div>

                                <div class="form-group col-sm-12 col-md-4">
                                    <input  formControlName="isDeceased" id="field_isDeceased" name="isDeceased"
                                           type="checkbox"/>
                                    <label class="form-control-label" for="field_isDeceased" jhiTranslate="churchApp.member.isDeceased">Is Deceased</label>
                                </div>
                                <div class="form-group col-sm-12 col-md-4">
                                    <label class="form-control-label" for="field_deceasedDate" jhiTranslate="churchApp.member.deceasedDate">Deceased Date</label>
                                    <div class="input-group">
                                        <input #deceasedDateDp="ngbDatepicker" class="form-control" formControlName="deceasedDate" id="field_deceasedDate" name="deceasedDate"  ngbDatepicker type="text"/>
                                        <span class="input-group-append">
                                            <button (click)="deceasedDateDp.toggle()" class="btn btn-secondary" type="button"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row input-row">
                                <div class="form-group col-sm-12 col-md-6">
                                    <label class="form-control-label"
                                           for="field_home_church"
                                           jhiTranslate="churchApp.member.homeChurch">Home Church Community</label>
                                    <select class="form-control"
                                            formControlName="homeChurchCommunity" id="field_home_church"
                                            name="homeChurchCommunity">
                                        <option *ngIf="!editForm.get('homeChurchCommunity').value"
                                                [ngValue]="null" selected></option>
                                        <option *ngFor="let churchOption of homeChurchCommunities; trackBy: trackHomeChurchById"
                                                [ngValue]="churchOption.id === editForm.get('homeChurchCommunity').value?.id ? editForm.get('homeChurchCommunity').value : churchOption">{{churchOption.name}}</option>
                                    </select>
                                    <div *ngIf="editForm.get('church').invalid && (editForm.get('church').dirty || editForm.get('church').touched)">
                                        <small *ngIf="editForm.get('church').errors.required"
                                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 col-md-6">
                                    <label for="field_churchCommunities" jhiTranslate="churchApp.member.churchCommunities">Church Communities</label>
                                    <select class="form-control" formControlName="churchCommunities" id="field_churchCommunities" multiple name="churchCommunities">
                                        <option *ngFor="let churchCommunityOption of churchCommunities; trackBy: trackChurchCommunityById" [ngValue]="getSelected(editForm.get('churchCommunities').value, churchCommunityOption)">{{churchCommunityOption.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save"  type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity" type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Relatives" id="relatives" >
            <ng-template ngbTabContent>
               <church-member-relative></church-member-relative>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Rites" id="rites">
            <ng-template ngbTabContent>
              <church-member-rite></church-member-rite>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngFor="let c of periodContributionTypes"
                 [title]="c.name"  [id]="c.id.toString()">
            <ng-template ngbTabContent>
                <church-period-contribution
                  [churchId]="churchId"
                  [memberId]="memberId"
                  [periodContributionTypeId]="c.id"
                  [periodTypeId]="c.periodType.id"
                ></church-period-contribution>
            </ng-template>
        </ngb-tab>
        <!--<ngb-tab title="Contribution" id="contribution">-->
            <!--<ng-template ngbTabContent>-->
                <!--<church-member-contribution></church-member-contribution>-->
            <!--</ng-template>-->
        <!--</ngb-tab>-->
        <!--<ngb-tab title="Promises" id="promises">-->

        <!--</ngb-tab>-->
    </ngb-tabset>
</div>
