<div>
    <h2 id="page-heading">
        <span jhiTranslate="churchApp.member.home.title">Members</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member" [routerLink]="['/member/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="churchApp.member.home.createLabel">
            Create a new Member
            </span>
        </button>
    </h2>
    <church-alert-error></church-alert-error>
    <church-alert></church-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="members?.length === 0">
        <span jhiTranslate="churchApp.member.home.notFound">No members found</span>
    </div>
    <div class="table-responsive" *ngIf="members?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="churchApp.member.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="churchApp.member.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="middleName"><span jhiTranslate="churchApp.member.middleName">Middle Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="gender"><span jhiTranslate="churchApp.member.gender">Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="churchApp.member.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="churchApp.member.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateOfBirth"><span jhiTranslate="churchApp.member.dateOfBirth">Date Of Bith</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="placeOfBirth"><span jhiTranslate="churchApp.member.placeOfBirth">Place Of Bith</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maritalStatus"><span jhiTranslate="churchApp.member.maritalStatus">Marital Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="work"><span jhiTranslate="churchApp.member.work">Work</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="placeOfWork"><span jhiTranslate="churchApp.member.placeOfWork">Place Of Work</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="churchApp.member.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isDeceased"><span jhiTranslate="churchApp.member.isDeceased">Is Deceased</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deceasedDate"><span jhiTranslate="churchApp.member.deceasedDate">Deceased Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="church.name"><span jhiTranslate="churchApp.member.church">Church</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members ;trackBy: trackId">
                <td><a [routerLink]="['/member', member.id, 'view' ]">{{member.id}}</a></td>
                <td>{{member.firstName}}</td>
                <td>{{member.lastName}}</td>
                <td>{{member.middleName}}</td>
                <td jhiTranslate="{{'churchApp.Gender.' + member.gender}}">{{member.gender}}</td>
                <td>{{member.phoneNumber}}</td>
                <td>{{member.email}}</td>
                <td>{{member.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{member.placeOfBirth}}</td>
                <td jhiTranslate="{{'churchApp.MaritalStatus.' + member.maritalStatus}}">{{member.maritalStatus}}</td>
                <td>{{member.work}}</td>
                <td>{{member.placeOfWork}}</td>
                <td>{{member.isActive}}</td>
                <td>{{member.isDeceased}}</td>
                <td>{{member.deceasedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="member.church">
                        <a [routerLink]="['/church', member.church?.id, 'view' ]" >{{member.church?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/member', member.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member', member.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member', { outlets: { popup: member.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="members?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
