@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cerulean/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
html,
body {
  height: 100% !important;
}
body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h2,
.h2 {
  font-size: 1.5rem;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}
.input-row {
  margin-top: 12px;
  //border-bottom: 1px solid #ced4da;
  padding-bottom: 12px;
  .form-group {
    input,
    select {
      border: 1px solid #e2e8f0;
      background-color: #f7fafc;
    }
  }
}

.wrapper {
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: stretch;
}

.side-nav {
  width: 300px;
  min-height: 100%;
  background-color: #6d7fcc;
  color: white;
  border-right: none;
}
.side-nav h3.title {
  color: white;
  text-align: center;
}

.side-nav .sidenav-header {
  padding: 20px;
  background: #6d7fcc;
}

.side-nav ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.side-nav ul p {
  color: #fff;
  padding: 10px;
}

.side-nav ul li a {
  padding: 10px 10px 10px 20px;
  font-size: 1.2em;
  display: block;
  text-decoration: none;
}
.side-nav ul li a .menu-item {
  margin-left: 10px;
}
.side-nav ul li a:hover {
  color: #7386d5 !important;
  background: #fff;
}

.side-nav ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #6d7fcc;
}
.tab-pane {
  padding-top: 20px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1.75rem;
}

.bg-light {
  background-image: none;
  border-bottom: solid 1px #eeeeee;
}

.btn-primary {
  color: #fff !important;
  background-image: none;
}
.btn-info,
.btn-danger {
  background-image: none;
}

.table thead th {
  border-bottom: none;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.main {
  flex: auto;
}

.side-nav a {
  color: #fff !important;
}
.primary-toolbar {
  background-color: #3c8dbc;
  color: white;
}
.user-panel {
  padding: 10px;
}
.spacer {
  flex: 1 0 0;
}
.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
